In [416]:
import pandas as pd 
import numpy as np

#adding to show "hiddin columns"
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [417]:
# import of raw data
df_raw = pd.read_csv('attacks.csv', encoding = 'latin-1')
df_raw.head(4)

  Case Number         Date    Year        Type    Country             Area                        Location  Activity             Name Sex   Age                                             Injury Fatal (Y/N)           Time     Species           Investigator or Source                       pdf                                       href formula                                               href Case Number.1 Case Number.2  original order Unnamed: 22 Unnamed: 23
0  2018.06.25  25-Jun-2018  2018.0     Boating        USA       California     Oceanside, San Diego County  Paddling      Julie Wolfe    F   57  No injury to occupant, outrigger canoe and pad...           N          18h00  White shark                R. Collier, GSAF      2018.06.25-Wolfe.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25    2018.06.25          6303.0         NaN         NaN
1  2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA          Georgia  St. Simon Island, Glynn County  Standing  Adyson McNeely     F   11                         Minor injury to left thigh           N  14h00  -15h00          NaN  K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18    2018.06.18          6302.0         NaN         NaN
2  2018.06.09  09-Jun-2018  2018.0     Invalid        USA           Hawaii                    Habush, Oahu   Surfing      John Denges    M   48       Injury to left lower leg from surfboard skeg           N          07h45          NaN  K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09    2018.06.09          6301.0         NaN         NaN
3  2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA  New South Wales              Arrawarra Headland   Surfing             male    M  NaN                          Minor injury to lower leg           N            NaN    2 m shark                  B. Myatt, GSAF  2018.06.08-Arrawarra.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08    2018.06.08          6300.0         NaN         NaN

In [418]:
df_raw.shape

(25723, 24)

In [419]:
# columns in set
df_raw.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [420]:
# simplify column names: remove dots, spaces at both ends, lower case

def clean_column(df_raw):
        column_clean = []
        for column in df_raw.columns:
            column = column.replace('.',' ')
            column = column.strip().lower()
            column_clean.append(column)
        
        df_raw.columns = column_clean
        return df_raw.columns

In [421]:
clean_column(df_raw)

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time', 'species', 'investigator or source', 'pdf', 'href formula', 'href', 'case number 1', 'case number 2', 'original order', 'unnamed: 22', 'unnamed: 23'], dtype='object')

In [422]:
df_raw.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time', 'species', 'investigator or source', 'pdf', 'href formula', 'href', 'case number 1', 'case number 2', 'original order', 'unnamed: 22', 'unnamed: 23'], dtype='object')

In [423]:
# check of values in "hidden columns"
test = df_raw[['age', 'fatal (y/n)']]
test

       age fatal (y/n)
0       57           N
1       11           N
2       48           N
3      NaN           N
4      NaN           N
...    ...         ...
25718  NaN         NaN
25719  NaN         NaN
25720  NaN         NaN
25721  NaN         NaN
25722  NaN         NaN

[25723 rows x 2 columns]

In [424]:
# checking empty columns
df_raw.isnull().sum()

case number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal (y/n)               19960
time                      22775
species                   22259
investigator or source    19438
pdf                       19421
href formula              19422
href                      19421
case number 1             19421
case number 2             19421
original order            19414
unnamed: 22               25722
unnamed: 23               25721
dtype: int64

In [425]:
# checking for duplicates in case number
df_raw['case number'].duplicated().sum()

19435

In [426]:
# identifying the duplicates in case number
duplicates = df_raw[df_raw['case number'].duplicated(keep = False)]['case number'].tolist()
duplicates

['2014.08.02',
 '2014.08.02',
 '2013.10.05',
 '2013.10.05',
 '2012.09.02.b',
 '2012.09.02.b',
 '2009.12.18',
 '2009.12.18',
 '2006.09.02',
 '2006.09.02',
 '2005.04.06',
 '2005.04.06',
 '1990.05.10',
 '1990.05.10',
 '1983.06.15',
 '1983.06.15',
 '1980.07.00',
 '1980.07.00',
 '1966.12.26',
 '1966.12.26',
 '1962.06.11.b',
 '1962.06.11.b',
 '1923.00.00.a',
 '1923.00.00.a',
 '1920.00.00.b',
 '1920.00.00.b',
 '1915.07.06.a.R',
 '1915.07.06.a.R',
 '1913.08.27.R',
 '1913.08.27.R',
 '1907.10.16.R',
 '1907.10.16.R',
 nan,
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 ...]

In [427]:
# how many unique values in 'case number'
print("Unique 'case number' values:", len(set(df_raw['case number'])))

# total values in 'case number'
print("Total 'case number' values:", len(df_raw['case number']))

# duplicate values in 'case number'
print("Duplicates in 'case number' values:", len(df_raw['case number']) - len(set(df_raw['case number'])))

Unique 'case number' values: 6288
Total 'case number' values: 25723
Duplicates in 'case number' values: 19435

In [428]:
# delete rows that are duplicated in all columns
df_new = df_raw.drop_duplicates(subset = list(df_raw.columns))
df_new

      case number         date    year        type    country             area                        location     activity             name  sex  age                                             injury fatal (y/n)           time          species          investigator or source                       pdf                                       href formula                                               href case number 1 case number 2  original order unnamed: 22 unnamed: 23
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA       California     Oceanside, San Diego County     Paddling      Julie Wolfe    F   57  No injury to occupant, outrigger canoe and pad...           N          18h00      White shark                R. Collier, GSAF      2018.06.25-Wolfe.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25    2018.06.25          6303.0         NaN         NaN
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA          Georgia  St. Simon Island, Glynn County     Standing  Adyson McNeely     F   11                         Minor injury to left thigh           N  14h00  -15h00              NaN  K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18    2018.06.18          6302.0         NaN         NaN
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA           Hawaii                    Habush, Oahu      Surfing      John Denges    M   48       Injury to left lower leg from surfboard skeg           N          07h45              NaN  K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09    2018.06.09          6301.0         NaN         NaN
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA  New South Wales              Arrawarra Headland      Surfing             male    M  NaN                          Minor injury to lower leg           N            NaN        2 m shark                  B. Myatt, GSAF  2018.06.08-Arrawarra.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08    2018.06.08          6300.0         NaN         NaN
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO           Colima                        La Ticla  Free diving   Gustavo Ramos     M  NaN  Lacerations to leg & hand shark PROVOKED INCIDENT           N            NaN  Tiger shark, 3m                       A .Kipper      2018.06.04-Ramos.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04    2018.06.04          6299.0         NaN         NaN
...           ...          ...     ...         ...        ...              ...                             ...          ...              ...  ...  ...                                                ...         ...            ...              ...                             ...                       ...                                                ...                                                ...           ...           ...             ...         ...         ...
6307            0          NaN     NaN         NaN        NaN              NaN                             NaN          NaN              NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                             NaN                       NaN                                                NaN                                                NaN           NaN           NaN          6309.0         NaN         NaN
6308            0          NaN     NaN         NaN        NaN              NaN                             NaN          NaN              NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                             NaN                       NaN                                                NaN                                                NaN           NaN           NaN          6310.0         NaN         NaN
6309            0          NaN     NaN         NaN        NaN              NaN                             NaN          NaN              NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                             NaN                       NaN                                                NaN                                                NaN           NaN           NaN             NaN         NaN         NaN
8702          NaN          NaN     NaN         NaN        NaN              NaN                             NaN          NaN              NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                             NaN                       NaN                                                NaN                                                NaN           NaN           NaN             NaN         NaN         NaN
25722          xx          NaN     NaN         NaN        NaN              NaN                             NaN          NaN              NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                             NaN                       NaN                                                NaN                                                NaN           NaN           NaN             NaN         NaN         NaN

[6312 rows x 24 columns]

In [429]:
# munber of missing values in columns df_new
df_new.isnull().sum()

case number                  2
date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal (y/n)                549
time                      3364
species                   2848
investigator or source      27
pdf                         10
href formula                11
href                        10
case number 1               10
case number 2               10
original order               3
unnamed: 22               6311
unnamed: 23               6310
dtype: int64

In [430]:
# identifying the duplicates in df_new case number
duplicates_new = df_new[df_new['case number'].duplicated(keep = False)]['case number'].tolist()
duplicates_new

['2014.08.02',
 '2014.08.02',
 '2013.10.05',
 '2013.10.05',
 '2012.09.02.b',
 '2012.09.02.b',
 '2009.12.18',
 '2009.12.18',
 '2006.09.02',
 '2006.09.02',
 '2005.04.06',
 '2005.04.06',
 '1990.05.10',
 '1990.05.10',
 '1983.06.15',
 '1983.06.15',
 '1980.07.00',
 '1980.07.00',
 '1966.12.26',
 '1966.12.26',
 '1962.06.11.b',
 '1962.06.11.b',
 '1923.00.00.a',
 '1923.00.00.a',
 '1920.00.00.b',
 '1920.00.00.b',
 '1915.07.06.a.R',
 '1915.07.06.a.R',
 '1913.08.27.R',
 '1913.08.27.R',
 '1907.10.16.R',
 '1907.10.16.R',
 nan,
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 nan]

In [431]:
# Are duplicated case numbers duplicated data? No...
check = df_new[(df_new['case number'] == '1962.06.11.b')]
check

       case number         date    year        type country        area           location                 activity                  name sex age                                             injury fatal (y/n)   time species             investigator or source                      pdf                                       href formula                                               href case number 1 case number 2  original order unnamed: 22 unnamed: 23
3814  1962.06.11.b  11-Jun-1962  1962.0  Unprovoked     USA  California  San Francisco Bay  Escaping from Alacatraz       Clarence Anglin   M  31                                 2 toes bitten off            N  night     NaN  San Francisco Chronicle, 5/3/1986  1962.06.11.c-Anglin.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...  1962.06.11.b  1962.06.11.b          2489.0         NaN         NaN
3815  1962.06.11.b  11-Jun-1962  1962.0  Unprovoked     USA  California  San Francisco Bay  Escaping from Alacatraz  John William Anglin    M  32  FATAL, but shark involvement uncomfirmed. Deat...           Y  Night     NaN  San Francisco Chronicle, 5/3/1986  1962.06.11.b-Anglin.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...  1962.06.11.b  1962.06.11.b          2488.0         NaN         NaN

In [432]:
# delete rows with case number = 0 or nan

In [433]:
df_new[df_new['case number'] == '0']

     case number date  year type country area location activity name  sex  age injury fatal (y/n) time species investigator or source  pdf href formula href case number 1 case number 2  original order unnamed: 22 unnamed: 23
6302           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6304.0         NaN         NaN
6303           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6305.0         NaN         NaN
6304           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6306.0         NaN         NaN
6305           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6307.0         NaN         NaN
6306           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6308.0         NaN         NaN
6307           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6309.0         NaN         NaN
6308           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN          6310.0         NaN         NaN
6309           0  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN             NaN         NaN         NaN

In [434]:
df_new[df_new['case number'] == 'xx']

      case number date  year type country area location activity name  sex  age injury fatal (y/n) time species investigator or source  pdf href formula href case number 1 case number 2  original order unnamed: 22 unnamed: 23
25722          xx  NaN   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN  NaN    NaN         NaN  NaN     NaN                    NaN  NaN          NaN  NaN           NaN           NaN             NaN         NaN         NaN

In [435]:
# manually delete '0' and 'xx' rows that are full of NaN values
df_new.drop([6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 25722], axis = 0, inplace=True)

/usr/local/opt/python@3.8/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [437]:
df_new

     case number         date    year        type             country               area                             location      activity                   name  sex  age                                             injury fatal (y/n)           time          species                 investigator or source                             pdf                                       href formula                                               href case number 1 case number 2  original order unnamed: 22 unnamed: 23
0     2018.06.25  25-Jun-2018  2018.0     Boating                 USA         California          Oceanside, San Diego County      Paddling            Julie Wolfe    F   57  No injury to occupant, outrigger canoe and pad...           N          18h00      White shark                       R. Collier, GSAF            2018.06.25-Wolfe.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25    2018.06.25          6303.0         NaN         NaN
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked                 USA            Georgia       St. Simon Island, Glynn County      Standing        Adyson McNeely     F   11                         Minor injury to left thigh           N  14h00  -15h00              NaN         K.McMurray, TrackingSharks.com          2018.06.18-McNeely.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18    2018.06.18          6302.0         NaN         NaN
2     2018.06.09  09-Jun-2018  2018.0     Invalid                 USA             Hawaii                         Habush, Oahu       Surfing            John Denges    M   48       Injury to left lower leg from surfboard skeg           N          07h45              NaN         K.McMurray, TrackingSharks.com           2018.06.09-Denges.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09    2018.06.09          6301.0         NaN         NaN
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked           AUSTRALIA    New South Wales                   Arrawarra Headland       Surfing                   male    M  NaN                          Minor injury to lower leg           N            NaN        2 m shark                         B. Myatt, GSAF        2018.06.08-Arrawarra.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08    2018.06.08          6300.0         NaN         NaN
4     2018.06.04  04-Jun-2018  2018.0    Provoked              MEXICO             Colima                             La Ticla   Free diving         Gustavo Ramos     M  NaN  Lacerations to leg & hand shark PROVOKED INCIDENT           N            NaN  Tiger shark, 3m                              A .Kipper            2018.06.04-Ramos.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04    2018.06.04          6299.0         NaN         NaN
...          ...          ...     ...         ...                 ...                ...                                  ...           ...                    ...  ...  ...                                                ...         ...            ...              ...                                    ...                             ...                                                ...                                                ...           ...           ...             ...         ...         ...
6298     ND.0004  Before 1903     0.0  Unprovoked           AUSTRALIA  Western Australia                                  NaN  Pearl diving                  Ahmun    M  NaN                                              FATAL           Y            NaN              NaN  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004       ND.0004             5.0         NaN         NaN
6299     ND.0003    1900-1905     0.0  Unprovoked                 USA     North Carolina                       Ocracoke Inlet      Swimming  Coast Guard personnel    M  NaN                                              FATAL           Y            NaN              NaN   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003       ND.0003             4.0         NaN         NaN
6300     ND.0002    1883-1889     0.0  Unprovoked              PANAMA                NaN                 Panama Bay 8ºN, 79ºW           NaN        Jules Patterson    M  NaN                                              FATAL           Y            NaN              NaN                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002       ND.0002             3.0         NaN         NaN
6301     ND.0001    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province  Below the English fort, Trincomalee      Swimming                   male    M   15  FATAL. "Shark bit him in half, carrying away t...           Y            NaN              NaN                             S.W. Baker              ND-0001-Ceylon.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001       ND.0001             2.0         NaN         NaN
8702         NaN          NaN     NaN         NaN                 NaN                NaN                                  NaN           NaN                    NaN  NaN  NaN                                                NaN         NaN            NaN              NaN                                    NaN                             NaN                                                NaN                                                NaN           NaN           NaN             NaN         NaN         NaN

[6303 rows x 24 columns]

In [438]:
# manually deleting NaN row with NaN values
df_new.drop([8702], axis = 0, inplace=True)

/usr/local/opt/python@3.8/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [439]:
# new dataset after having deleted repeated and empty values
df_new

     case number         date    year        type             country               area                             location      activity                   name sex  age                                             injury fatal (y/n)           time          species                 investigator or source                             pdf                                       href formula                                               href case number 1 case number 2  original order unnamed: 22 unnamed: 23
0     2018.06.25  25-Jun-2018  2018.0     Boating                 USA         California          Oceanside, San Diego County      Paddling            Julie Wolfe   F   57  No injury to occupant, outrigger canoe and pad...           N          18h00      White shark                       R. Collier, GSAF            2018.06.25-Wolfe.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25    2018.06.25          6303.0         NaN         NaN
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked                 USA            Georgia       St. Simon Island, Glynn County      Standing        Adyson McNeely    F   11                         Minor injury to left thigh           N  14h00  -15h00              NaN         K.McMurray, TrackingSharks.com          2018.06.18-McNeely.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18    2018.06.18          6302.0         NaN         NaN
2     2018.06.09  09-Jun-2018  2018.0     Invalid                 USA             Hawaii                         Habush, Oahu       Surfing            John Denges   M   48       Injury to left lower leg from surfboard skeg           N          07h45              NaN         K.McMurray, TrackingSharks.com           2018.06.09-Denges.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09    2018.06.09          6301.0         NaN         NaN
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked           AUSTRALIA    New South Wales                   Arrawarra Headland       Surfing                   male   M  NaN                          Minor injury to lower leg           N            NaN        2 m shark                         B. Myatt, GSAF        2018.06.08-Arrawarra.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08    2018.06.08          6300.0         NaN         NaN
4     2018.06.04  04-Jun-2018  2018.0    Provoked              MEXICO             Colima                             La Ticla   Free diving         Gustavo Ramos    M  NaN  Lacerations to leg & hand shark PROVOKED INCIDENT           N            NaN  Tiger shark, 3m                              A .Kipper            2018.06.04-Ramos.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04    2018.06.04          6299.0         NaN         NaN
...          ...          ...     ...         ...                 ...                ...                                  ...           ...                    ...  ..  ...                                                ...         ...            ...              ...                                    ...                             ...                                                ...                                                ...           ...           ...             ...         ...         ...
6297     ND.0005  Before 1903     0.0  Unprovoked           AUSTRALIA  Western Australia                          Roebuck Bay        Diving                   male   M  NaN                                              FATAL           Y            NaN              NaN       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0005       ND.0005             6.0         NaN         NaN
6298     ND.0004  Before 1903     0.0  Unprovoked           AUSTRALIA  Western Australia                                  NaN  Pearl diving                  Ahmun   M  NaN                                              FATAL           Y            NaN              NaN  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004       ND.0004             5.0         NaN         NaN
6299     ND.0003    1900-1905     0.0  Unprovoked                 USA     North Carolina                       Ocracoke Inlet      Swimming  Coast Guard personnel   M  NaN                                              FATAL           Y            NaN              NaN   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003       ND.0003             4.0         NaN         NaN
6300     ND.0002    1883-1889     0.0  Unprovoked              PANAMA                NaN                 Panama Bay 8ºN, 79ºW           NaN        Jules Patterson   M  NaN                                              FATAL           Y            NaN              NaN                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002       ND.0002             3.0         NaN         NaN
6301     ND.0001    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province  Below the English fort, Trincomalee      Swimming                   male   M   15  FATAL. "Shark bit him in half, carrying away t...           Y            NaN              NaN                             S.W. Baker              ND-0001-Ceylon.pdf  http://sharkattackfile.net/spreadsheets/pdf_di...  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001       ND.0001             2.0         NaN         NaN

[6302 rows x 24 columns]

In [442]:
# unique values after having deleted duplicates and empty values

# unique values in 'case number'
print("Unique 'case number' values:", len(set(df_new['case number'])))

# total values in 'case number'
print("Total 'case number' values:", len(df_new['case number']))

# duplicate values in 'case number'
print("Duplicates in 'case number' values:", len(df_new['case number']) - len(set(df_new['case number'])))

Unique 'case number' values: 6286
Total 'case number' values: 6302
Duplicates in 'case number' values: 16

In [443]:
# There are still duplicates in case numbers and it is therefore deleted
# Furthermore deleting columns with empty values or unnecessary for the analyses we want to make
# Unnamed columns deleted as all values 0 as shown earlier in isnull

df = df_new.drop(['case number', 'area', 'location', 'activity', 'name', 'injury', 'time', 'species','investigator or source', 'pdf', 'href formula', 'href', 'case number 1', 'case number 2', 'unnamed: 22', 'unnamed: 23'], axis = 1)

In [444]:
# df to be used for analyses
df

             date    year        type             country sex  age fatal (y/n)  original order
0     25-Jun-2018  2018.0     Boating                 USA   F   57           N          6303.0
1     18-Jun-2018  2018.0  Unprovoked                 USA   F   11           N          6302.0
2     09-Jun-2018  2018.0     Invalid                 USA   M   48           N          6301.0
3     08-Jun-2018  2018.0  Unprovoked           AUSTRALIA   M  NaN           N          6300.0
4     04-Jun-2018  2018.0    Provoked              MEXICO   M  NaN           N          6299.0
...           ...     ...         ...                 ...  ..  ...         ...             ...
6297  Before 1903     0.0  Unprovoked           AUSTRALIA   M  NaN           Y             6.0
6298  Before 1903     0.0  Unprovoked           AUSTRALIA   M  NaN           Y             5.0
6299    1900-1905     0.0  Unprovoked                 USA   M  NaN           Y             4.0
6300    1883-1889     0.0  Unprovoked              PANAMA   M  NaN           Y             3.0
6301    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)   M   15           Y             2.0

[6302 rows x 8 columns]

In [445]:
df.shape

(6302, 8)

In [250]:
# alternative way of making df for analyses
df_alternative = df_new[['date', 'year', 'type', 'country', 'sex', 'age', 'fatal (y/n)', 'original order']]
df_alternative

              date    year        type    country  sex  age fatal (y/n)  original order
0      25-Jun-2018  2018.0     Boating        USA    F   57           N          6303.0
1      18-Jun-2018  2018.0  Unprovoked        USA    F   11           N          6302.0
2      09-Jun-2018  2018.0     Invalid        USA    M   48           N          6301.0
3      08-Jun-2018  2018.0  Unprovoked  AUSTRALIA    M  NaN           N          6300.0
4      04-Jun-2018  2018.0    Provoked     MEXICO    M  NaN           N          6299.0
...            ...     ...         ...        ...  ...  ...         ...             ...
6307           NaN     NaN         NaN        NaN  NaN  NaN         NaN          6309.0
6308           NaN     NaN         NaN        NaN  NaN  NaN         NaN          6310.0
6309           NaN     NaN         NaN        NaN  NaN  NaN         NaN             NaN
8702           NaN     NaN         NaN        NaN  NaN  NaN         NaN             NaN
25722          NaN     NaN         NaN        NaN  NaN  NaN         NaN             NaN

[6312 rows x 8 columns]

##  variable analyses

In [446]:
# variable data types
df.dtypes

date               object
year              float64
type               object
country            object
sex                object
age                object
fatal (y/n)        object
original order    float64
dtype: object

In [453]:
# checking empty columns
df.isnull().sum()

date                 0
year                 2
type                 4
country             50
sex                565
age               2831
fatal (y/n)        539
original order       0
dtype: int64

#### sex

In [454]:
# values in sex column
df.sex.unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [457]:
# number of distinct observations excl. nan
sex_unique = df['sex'].nunique(dropna = True)
sex_unique

6

In [547]:
# clean sex values
df['sex'] = df['sex'].replace(['M '],'M')
df['sex'] = df['sex'].replace(['lli', 'N', '.'], np.nan)

In [548]:
df.sex.unique()

array(['F', 'M', nan], dtype=object)

In [549]:
# number of men and female attacked
df['sex'].value_counts()

M    5096
F     637
Name: sex, dtype: int64

#### country

In [467]:
# values in country column
df.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [469]:
# countries with most attacks
df.country.value_counts()

USA                                      2229
AUSTRALIA                                1338
SOUTH AFRICA                              579
PAPUA NEW GUINEA                          134
NEW ZEALAND                               128
BRAZIL                                    112
BAHAMAS                                   109
MEXICO                                     89
ITALY                                      71
FIJI                                       62
PHILIPPINES                                61
REUNION                                    60
NEW CALEDONIA                              53
CUBA                                       46
MOZAMBIQUE                                 45
SPAIN                                      44
INDIA                                      40
EGYPT                                      38
JAPAN                                      34
CROATIA                                    34
PANAMA                                     32
SOLOMON ISLANDS                            30
IRAN                                       29
JAMAICA                                    27
FRENCH POLYNESIA                           25
GREECE                                     25
HONG KONG                                  24
INDONESIA                                  23
ENGLAND                                    23
ATLANTIC OCEAN                             17
PACIFIC OCEAN                              17
COSTA RICA                                 17
BERMUDA                                    16
TONGA                                      15
VIETNAM                                    15
SRI LANKA                                  14
VANUATU                                    14
FRANCE                                     13
MARSHALL ISLANDS                           13
TURKEY                                     12
CANADA                                     12
SOUTH ATLANTIC OCEAN                       12
IRAQ                                       12
UNITED KINGDOM                             11
VENEZUELA                                  11
SENEGAL                                    11
MAURITIUS                                  10
KENYA                                      10
NEW GUINEA                                 10
COLUMBIA                                    9
ECUADOR                                     9
TAIWAN                                      9
SIERRA LEONE                                8
TANZANIA                                    8
SOUTH KOREA                                 8
THAILAND                                    8
MADAGASCAR                                  8
CARIBBEAN SEA                               8
SCOTLAND                                    8
SAMOA                                       8
CHILE                                       8
YEMEN                                       7
DOMINICAN REPUBLIC                          7
ISRAEL                                      7
CHINA                                       7
NORTH PACIFIC OCEAN                         7
SEYCHELLES                                  7
INDIAN OCEAN                                7
OKINAWA                                     6
KIRIBATI                                    6
SOMALIA                                     6
LIBYA                                       6
NICARAGUA                                   6
BARBADOS                                    6
NEW BRITAIN                                 6
SINGAPORE                                   6
MALTA                                       5
AZORES                                      5
MID ATLANTIC OCEAN                          5
PALAU                                       5
SAUDI ARABIA                                5
MALAYSIA                                    5
TURKS & CAICOS                              5
NORTH ATLANTIC OCEAN                        4
NIGERIA                                     4
BURMA                                       4
GUAM                                        4
GRENADA                                     4
URUGUAY                                     4
PERSIAN GULF                                4
SUDAN                                       4
RUSSIA                                      4
HONDURAS                                    4
EL SALVADOR                                 4
MONTENEGRO                                  3
GUINEA                                      3
LIBERIA                                     3
HAITI                                       3
MARTINIQUE                                  3
TUNISIA                                     3
GUYANA                                      3
LEBANON                                     3
BELIZE                                      3
CAPE VERDE                                  3
CEYLON                                      3
MICRONESIA                                  3
Fiji                                        3
 TONGA                                      3
TRINIDAD & TOBAGO                           3
AMERICAN SAMOA                              3
PORTUGAL                                    3
ST HELENA, British overseas territory       2
ICELAND                                     2
UNITED ARAB EMIRATES                        2
WEST INDIES                                 2
MEDITERRANEAN SEA                           2
TOBAGO                                      2
ANTIGUA                                     2
NORWAY                                      2
JOHNSTON ISLAND                             2
UNITED ARAB EMIRATES (UAE)                  2
CENTRAL PACIFIC                             2
NAMIBIA                                     2
CAYMAN ISLANDS                              2
SOUTH PACIFIC OCEAN                         2
YEMEN                                       2
CRETE                                       2
EGYPT                                       2
PACIFIC OCEAN                               2
SOUTHWEST PACIFIC OCEAN                     2
RED SEA                                     1
FALKLAND ISLANDS                            1
MID-PACIFC OCEAN                            1
ANDAMAN ISLANDS                             1
BRITISH ISLES                               1
OCEAN                                       1
MALDIVES                                    1
GREENLAND                                   1
EGYPT / ISRAEL                              1
BAY OF BENGAL                               1
ALGERIA                                     1
NORTHERN MARIANA ISLANDS                    1
CEYLON (SRI LANKA)                          1
PERU                                        1
Seychelles                                  1
PARAGUAY                                    1
ST. MARTIN                                  1
SUDAN?                                      1
GABON                                       1
GRAND CAYMAN                                1
ANGOLA                                      1
BAHREIN                                     1
MONACO                                      1
ADMIRALTY ISLANDS                           1
CURACAO                                     1
COOK ISLANDS                                1
 PHILIPPINES                                1
ANDAMAN / NICOBAR ISLANDAS                  1
MEXICO                                      1
SWEDEN                                      1
KUWAIT                                      1
RED SEA?                                    1
Sierra Leone                                1
SAN DOMINGO                                 1
EQUATORIAL GUINEA / CAMEROON                1
COMOROS                                     1
THE BALKANS                                 1
NICARAGUA                                   1
GUATEMALA                                   1
JAVA                                        1
NORTH SEA                                   1
NORTHERN ARABIAN SEA                        1
ARUBA                                       1
SOUTH CHINA SEA                             1
FEDERATED STATES OF MICRONESIA              1
Between PORTUGAL & INDIA                    1
BANGLADESH                                  1
KOREA                                       1
MALDIVE ISLANDS                             1
NORTH ATLANTIC OCEAN                        1
TUVALU                                      1
IRELAND                                     1
DIEGO GARCIA                                1
BRITISH NEW GUINEA                          1
MAYOTTE                                     1
DJIBOUTI                                    1
NEVIS                                       1
WESTERN SAMOA                               1
CYPRUS                                      1
NETHERLANDS ANTILLES                        1
GEORGIA                                     1
INDIAN OCEAN?                               1
SLOVENIA                                    1
ROATAN                                      1
ST. MAARTIN                                 1
RED SEA / INDIAN OCEAN                      1
GULF OF ADEN                                1
PALESTINIAN TERRITORIES                     1
BRITISH WEST INDIES                         1
REUNION ISLAND                              1
ARGENTINA                                   1
ASIA?                                       1
Coast of AFRICA                             1
AFRICA                                      1
PUERTO RICO                                 1
IRAN / IRAQ                                 1
SYRIA                                       1
ITALY / CROATIA                             1
TASMAN SEA                                  1
BRITISH VIRGIN ISLANDS                      1
SOLOMON ISLANDS / VANUATU                   1
GHANA                                       1
Name: country, dtype: int64

In [533]:
# analysis for top 19 countries, the rest are gathered in "other_countries category"

tasty_populations = df['country'].value_counts().index.tolist()[0:19]

country_list = [x.lower() if x in tasty_populations else 'other_countries' for x in df['country']]
country_list

['usa',
 'usa',
 'usa',
 'australia',
 'mexico',
 'australia',
 'brazil',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'other_countries',
 'australia',
 'south africa',
 'australia',
 'other_countries',
 'other_countries',
 'australia',
 'australia',
 'australia',
 'australia',
 'other_countries',
 'south africa',
 'usa',
 'other_countries',
 'brazil',
 'australia',
 'australia',
 'bahamas',
 'brazil',
 'new caledonia',
 'bahamas',
 'south africa',
 'usa',
 'australia',
 'australia',
 'australia',
 'south africa',
 'australia',
 'australia',
 'australia',
 'australia',
 'brazil',
 'other_countries',
 'australia',
 'australia',
 'new caledonia',
 'australia',
 'australia',
 'brazil',
 'australia',
 'usa',
 'usa',
 'other_countries',
 'bahamas',
 'other_countries',
 'other_countries',
 'other_countries',
 'usa',
 'usa',
 'other_countries',
 'australia',
 'cuba',
 'australia',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'australia',
 'new zealand',
 'usa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'spain',
 'usa',
 'south africa',
 'other_countries',
 'australia',
 'usa',
 'australia',
 'australia',
 'other_countries',
 'south africa',
 'japan',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'spain',
 'new zealand',
 'usa',
 'bahamas',
 'usa',
 'egypt',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'bahamas',
 'bahamas',
 'other_countries',
 'usa',
 'spain',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'mexico',
 'south africa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'usa',
 'reunion',
 'spain',
 'other_countries',
 'bahamas',
 'australia',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'australia',
 'other_countries',
 'australia',
 'mexico',
 'usa',
 'usa',
 'south africa',
 'usa',
 'reunion',
 'new zealand',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'philippines',
 'bahamas',
 'australia',
 'australia',
 'reunion',
 'australia',
 'usa',
 'brazil',
 'south africa',
 'usa',
 'bahamas',
 'brazil',
 'usa',
 'australia',
 'australia',
 'usa',
 'other_countries',
 'australia',
 'usa',
 'australia',
 'usa',
 'australia',
 'south africa',
 'australia',
 'other_countries',
 'usa',
 'australia',
 'australia',
 'australia',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'usa',
 'mexico',
 'australia',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'australia',
 'australia',
 'usa',
 'usa',
 'new caledonia',
 'usa',
 'australia',
 'usa',
 'usa',
 'mexico',
 'usa',
 'usa',
 'reunion',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'spain',
 'other_countries',
 'australia',
 'usa',
 'australia',
 'japan',
 'australia',
 'bahamas',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'bahamas',
 'spain',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'other_countries',
 'south africa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'egypt',
 'australia',
 'new caledonia',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'new zealand',
 'other_countries',
 'usa',
 'south africa',
 'australia',
 'other_countries',
 'other_countries',
 'usa',
 'new caledonia',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'bahamas',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'brazil',
 'new caledonia',
 'new caledonia',
 'other_countries',
 'other_countries',
 'australia',
 'australia',
 'australia',
 'brazil',
 'south africa',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'australia',
 'australia',
 'south africa',
 'spain',
 'usa',
 'australia',
 'brazil',
 'other_countries',
 'australia',
 'bahamas',
 'south africa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'mozambique',
 'australia',
 'usa',
 'south africa',
 'usa',
 'usa',
 'mozambique',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'mozambique',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'other_countries',
 'fiji',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'spain',
 'usa',
 'australia',
 'other_countries',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'reunion',
 'south africa',
 'usa',
 'usa',
 'other_countries',
 'bahamas',
 'usa',
 'australia',
 'australia',
 'usa',
 'australia',
 'usa',
 'usa',
 'south africa',
 'usa',
 'south africa',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'reunion',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'new caledonia',
 'usa',
 'australia',
 'south africa',
 'usa',
 'usa',
 'australia',
 'australia',
 'usa',
 'reunion',
 'australia',
 'usa',
 'italy',
 'brazil',
 'south africa',
 'egypt',
 'usa',
 'other_countries',
 'australia',
 'mexico',
 'other_countries',
 'other_countries',
 'reunion',
 'australia',
 'australia',
 'australia',
 'australia',
 'usa',
 'australia',
 'south africa',
 'usa',
 'australia',
 'australia',
 'australia',
 'usa',
 'bahamas',
 'south africa',
 'usa',
 'australia',
 'australia',
 'other_countries',
 'south africa',
 'usa',
 'australia',
 'japan',
 'australia',
 'spain',
 'australia',
 'other_countries',
 'australia',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'spain',
 'usa',
 'usa',
 'usa',
 'usa',
 'spain',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'south africa',
 'other_countries',
 'usa',
 'reunion',
 'usa',
 'spain',
 'usa',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'bahamas',
 'australia',
 'australia',
 'australia',
 'brazil',
 'usa',
 'australia',
 'japan',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'other_countries',
 'australia',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'australia',
 'usa',
 'usa',
 'south africa',
 'south africa',
 'usa',
 'usa',
 'australia',
 'australia',
 'south africa',
 'usa',
 'usa',
 'new caledonia',
 'australia',
 'australia',
 'australia',
 'other_countries',
 'usa',
 'other_countries',
 'papua new guinea',
 'australia',
 'other_countries',
 'new zealand',
 'australia',
 'new zealand',
 'japan',
 'usa',
 'new zealand',
 'new caledonia',
 'south africa',
 'other_countries',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'usa',
 'australia',
 'usa',
 'australia',
 'bahamas',
 'usa',
 'usa',
 'usa',
 'australia',
 'reunion',
 'australia',
 'australia',
 'usa',
 'usa',
 'usa',
 'south africa',
 'australia',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'bahamas',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'usa',
 'usa',
 'bahamas',
 'mexico',
 'usa',
 'bahamas',
 'bahamas',
 'brazil',
 'usa',
 'usa',
 'reunion',
 'other_countries',
 'usa',
 'spain',
 'australia',
 'other_countries',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'usa',
 'brazil',
 'other_countries',
 'other_countries',
 'usa',
 'reunion',
 'usa',
 'australia',
 'mexico',
 'australia',
 'usa',
 'south africa',
 'usa',
 'other_countries',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'australia',
 'other_countries',
 'other_countries',
 'bahamas',
 'south africa',
 'south africa',
 'other_countries',
 'australia',
 'philippines',
 'south africa',
 'new zealand',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'other_countries',
 'australia',
 'australia',
 'australia',
 'usa',
 'new zealand',
 'australia',
 'usa',
 'australia',
 'australia',
 'south africa',
 'australia',
 'usa',
 'australia',
 'new zealand',
 'usa',
 'australia',
 'mexico',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'australia',
 'brazil',
 'usa',
 'australia',
 'usa',
 'reunion',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'reunion',
 'other_countries',
 'other_countries',
 'australia',
 'usa',
 'bahamas',
 'australia',
 'usa',
 'south africa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'usa',
 'australia',
 'italy',
 'australia',
 'usa',
 'usa',
 'usa',
 'mexico',
 'usa',
 'usa',
 'fiji',
 'usa',
 'usa',
 'usa',
 'usa',
 'south africa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'australia',
 'australia',
 'usa',
 'usa',
 'usa',
 'new zealand',
 'australia',
 'reunion',
 'usa',
 'other_countries',
 'other_countries',
 'usa',
 'australia',
 'south africa',
 'australia',
 'usa',
 'australia',
 'bahamas',
 'other_countries',
 'australia',
 'south africa',
 'usa',
 'australia',
 'australia',
 'usa',
 'other_countries',
 'other_countries',
 'usa',
 'usa',
 'south africa',
 'australia',
 'south africa',
 'australia',
 'usa',
 'australia',
 'australia',
 'other_countries',
 'australia',
 'usa',
 'papua new guinea',
 'brazil',
 'reunion',
 'usa',
 'other_countries',
 'south africa',
 'australia',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'reunion',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'south africa',
 'usa',
 'usa',
 'usa',
 'reunion',
 'other_countries',
 'usa',
 'usa',
 'papua new guinea',
 'usa',
 'australia',
 'usa',
 'usa',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'south africa',
 'other_countries',
 'usa',
 'usa',
 'other_countries',
 'other_countries',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'other_countries',
 'brazil',
 'philippines',
 'usa',
 'south africa',
 'usa',
 'reunion',
 'usa',
 'bahamas',
 'usa',
 'usa',
 'reunion',
 'other_countries',
 'other_countries',
 'brazil',
 'south africa',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'other_countries',
 'reunion',
 'other_countries',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'other_countries',
 'usa',
 'south africa',
 'usa',
 'usa',
 'south africa',
 'usa',
 'new caledonia',
 'usa',
 'usa',
 'other_countries',
 'south africa',
 'usa',
 'australia',
 'usa',
 'new zealand',
 'other_countries',
 'fiji',
 'usa',
 'mexico',
 'australia',
 'mexico',
 'fiji',
 'australia',
 'egypt',
 'australia',
 'australia',
 'new caledonia',
 'reunion',
 'australia',
 'australia',
 'australia',
 'mexico',
 'south africa',
 'mexico',
 'mexico',
 'bahamas',
 'australia',
 'south africa',
 'mexico',
 'australia',
 'usa',
 'fiji',
 'usa',
 'egypt',
 'other_countries',
 'egypt',
 'egypt',
 'egypt',
 'egypt',
 'other_countries',
 'australia',
 'usa',
 'other_countries',
 'other_countries',
 'australia',
 'australia',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'australia',
 'usa',
 'egypt',
 'australia',
 'bahamas',
 'bahamas',
 'south africa',
 'usa',
 'usa',
 'south africa',
 'australia',
 'usa',
 'other_countries',
 'usa',
 'usa',
 'usa',
 'other_countries',
 'bahamas',
 'usa',
 'australia',
 'usa',
 'australia',
 'other_countries',
 ...]

In [534]:
set(country_list)

{'australia',
 'bahamas',
 'brazil',
 'cuba',
 'egypt',
 'fiji',
 'india',
 'italy',
 'japan',
 'mexico',
 'mozambique',
 'new caledonia',
 'new zealand',
 'other_countries',
 'papua new guinea',
 'philippines',
 'reunion',
 'south africa',
 'spain',
 'usa'}

In [ ]:
# list top 20...

#### type

In [535]:
# values in type column
df.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [544]:
# assuming accidents are 'unprovoked' and undefined are NaN

df['type'] = df['type'].replace(['Boating', 'Unprovoked','Sea Disaster', 'Boat', 'Boatomg'],'unprovoked')
df['type'] = df['type'].replace(['Provoked'],'provoked')
df['type'] = df['type'].replace(['Invalid', 'Questionable'], np.nan)

In [545]:
df.type.unique()

array(['unprovoked', nan, 'provoked'], dtype=object)

In [546]:
# number of attacks that are provoked and unprovoked
df['type'].value_counts()

unprovoked    5175
provoked       574
Name: type, dtype: int64

#### push csv

In [551]:
df.to_csv('work_file.csv')